@font-face {
  font-family: "Antonio Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Antonio Regular"), url("FONT/Antonio-Regular.woff") format("woff");
}
@font-face {
  font-family: "Antonio Light";
  font-style: normal;
  font-weight: normal;
  src: local("Antonio Light"), url("FONT/Antonio-Light.woff") format("woff");
}
@font-face {
  font-family: "Antonio Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Antonio Bold"), url("FONT/Antonio-Bold.woff") format("woff");
}
* {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #0133ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.title {
  font-family: "Antonio Bold", sans-serif;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 3px;
  font-weight: 400;
  margin-top: 40px;
}

.top {
  font-family: "Antonio Light", sans-serif;
  margin-bottom: 80px;
}

.titlebox {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.symbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  margin-top: 40px;
  padding: 0px auto;
}
.symbox h3 {
  font-family: "Antonio Light", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  padding: 0px auto;
  margin: 0px auto;
}
.symbox .symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding: 40px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  width: 89px;
  height: 89px;
  box-shadow: -1px 5px 3px rgba(0, 0, 0, 0.25);
}

.container {
  max-width: 950px;
  position: relative;
  margin: 0px auto;
  border: 7px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-wrap {
  display: flex;
  position: absolute;
}
.card-wrap .weather-small-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 930px;
}

.weather-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.weatherbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
}
.weatherbox .top {
  margin-bottom: 100px;
}

.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 111px;
  height: 167px;
  background-color: #ffffff;
  border-radius: 5%;
}
.weather-card .date,
.weather-card .day {
  margin: 0px auto;
  font-family: "Antonio Bold", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
.weather-card .date {
  font-size: 38px;
  margin: 5px auto;
}

.everything-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-all-bottom {
  width: 80%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-all-bottom .temp {
  font-family: "Antonio Bold", sans-serif;
  color: #ffffff;
  text-align: center;
}
.weather-all-bottom .high,
.weather-all-bottom .low {
  font-size: 48px;
  margin: 0px auto;
  margin-top: 40px;
  margin-bottom: 10px;
}
.weather-all-bottom .average {
  font-size: 72px;
  margin: 70px auto;
}
.weather-all-bottom #level {
  font-family: "Antonio Light", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
  opacity: 0.8;
  margin: 0px auto;
}
.weather-all-bottom .degree-active {
  font-family: "Antonio Light", sans-serif;
  font-size: 24px;
  color: #ffffff;
  opacity: 1;
  margin: 0px auto;
}
.weather-all-bottom .degree-active sup {
  line-height: 3px;
  font-size: 24px;
}
.weather-all-bottom .degree-active {
  margin: 0px 10px;
}
.weather-all-bottom .weather-bottom {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: center;
}
.weather-all-bottom .weather-bottom .temps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 100px;
}
.weather-all-bottom .typedeg {
  margin-top: 20px;
}

.buttonspace {
  display: flex;
  justify-content: center;
  width: 100%;
}

.calc-space {
  margin: 0px 20px;
  justify-content: flex-start;
  width: 365px;
}

.saved-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 365px;
}
.saved-cont .saved {
  font-family: "Antonio Light", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  color: #ffffff;
  margin: 0px auto;
  width: 100%;
  text-align: right;
}

.saved-item-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.saved-item {
  font-family: "Antonio Light", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #ffffff;
  margin: 10px auto;
  text-align: right;
  width: 100%;
}

.save {
  display: flex;
  justify-content: flex-end;
  margin: 50px auto;
  border: 3px solid #ffffff;
}

#save {
  font-family: "Antonio Regular", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  color: #000000;
  margin: 0px auto;
  padding: 5px 7px;
  background-color: #ffffff;
  width: 100%;
  text-align: right;
}

.calc-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Antonio Regular", sans-serif;
  font-size: 38px;
  color: #000000;
  width: 73px;
  height: 110px;
  background-color: #ffffff;
  outline: 0.1px solid #626262;
  margin: 0px auto;
  cursor: pointer;
}

.zero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Antonio Regular", sans-serif;
  font-size: 38px;
  color: #000000;
  width: 146px;
  height: 110px;
  background-color: #ffffff;
  outline: 0.1px solid rgba(0, 0, 0, 0.5);
  margin: 0px auto;
  cursor: pointer;
}

.zero-button-equal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Antonio Regular", sans-serif;
  font-size: 38px;
  color: #000000;
  width: 219px;
  height: 110px;
  background-color: #ffffff;
  outline: 0.1px solid rgba(0, 0, 0, 0.5);
  margin: 0px auto;
  cursor: pointer;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 365px;
  height: 110px;
  background-color: #ffffff;
  outline: 0.1px solid rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}
.answer #answerspace {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: "Antonio Regular", sans-serif;
  font-size: 54px;
  color: #000000;
}

.calculator-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calculator-body .top {
  margin-bottom: 100px;
}
.calculator-body .row1,
.calculator-body .row2,
.calculator-body .row3,
.calculator-body .row4 {
  display: flex;
  margin: 0px auto;
}
.calculator-body .row4 {
  width: 100%;
}
.calculator-body #zero {
  background-color: #ffffff;
}
.calculator-body #toptitle {
  display: flex;
  justify-content: center;
}

.alltimer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alltimer .clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.alltimer .theclock {
  font-family: "Antonio Bold", sans-serif;
  font-size: 72px;
  color: #ffffff;
  margin: 0px auto;
}
.alltimer .theclock h1 {
  margin: 0px auto;
}
.alltimer .resets,
.alltimer .theclock,
.alltimer .labels,
.alltimer .minus {
  display: flex;
  justify-content: center;
}
.alltimer .resets h6,
.alltimer .labels h6,
.alltimer .minus h6 {
  font-family: "Antonio Light", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
}
.alltimer .resets h6 {
  margin: 0px 80px;
  margin-bottom: 20px;
}
.alltimer .labels h6 {
  margin: 0px 85px;
  margin-bottom: 70px;
}
.alltimer .minus h6 {
  margin: 20px 82px;
}
.alltimer .timer-controls {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}
.alltimer .timer-controls .circle {
  display: flex;
  width: 91px;
  height: 91px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 3px solid #ffffff;
  margin: 0px 50px;
  font-family: "Antonio Light", sans-serif;
  font-size: 18px;
  color: #ffffff;
}

button {
  display: flex;
  width: 71px;
  height: 71px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 4px solid #ffffff;
  margin: 0px 50px;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Antonio Light", sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.timer-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
.timer-controls button {
  display: flex;
  width: 101px;
  height: 101px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 4px solid #ffffff;
  margin: 0px 50px;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Antonio Light", sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.theclock-top {
  margin-top: 20px;
}

.laps {
  margin-top: 50px;
  margin-bottom: 50px;
}

.alllaps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: "Antonio Light", sans-serif;
  letter-spacing: 2px;
  color: #ffffff;
}
.alllaps h5 {
  margin: 10px auto;
}

.alltodo {
  width: 100%;
  height: 100%;
}

.alltodo,
.todo,
.todo-space,
.todo-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#todolist {
  list-style-type: none;
}

.todo h3 {
  font-size: 24px;
  font-family: "Antonio Light", sans-serif;
  letter-spacing: 2px;
  color: #ffffff;
}

.complete {
  margin-top: 50px;
}

input {
  border: none;
  border-bottom: 2px solid #ffffff;
  width: 0%;
  background-color: rgba(0, 0, 0, 0);
}

input[type=text],
input[placeholder="add task"] {
  text-align: center;
  font-size: 18px;
  font-family: "Antonio Light", sans-serif;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0);
}

/*# sourceMappingURL=main.css.map */
